@model Garage2._0.Models.AdvancedViewModel
@{
    ViewBag.Title = "AdvancedView";
}

<h2>AdvancedView</h2>

@{
    int parkspot = 1;
    int index = 0;
    int capacity = Model.capacity;
    <p>Capacity: @Html.DisplayFor(model => model.rows)</p>
    <table class="advancedView">
        @for (

            int a = 1; a <= Model.rows; a++)
        {
            <tr>
                @for (int b = 1; b <= 5; b++)
                {

                    <td class="parkheader">@parkspot</td>
                    parkspot = parkspot + 1;
                }
            </tr>
            <tr>
                @for (int b = 1; b <= 5; b++)
                {
                    int modelId = Model.GetType(index);

                    if (modelId != 0)
                    {

                        switch (modelId)
                        {
                            case 1:
                                {
                                    <td class="occupiedSpace rotated"><img src="~/Content/MichelliRoadster-GTA2.png" class="carIcon"/></td>
                                    break;
                                }
                            case 2:
                                {
                                    <td class="occupiedSpace rotated"><img src="~/Content/Van-GTA2.png" class="carIcon"</td>
                                    break;
                                }
                            case 3:
                                {
                                    <td class="occupiedSpace" colspan="2"><img src="~/Content/BoxTruck-GTA2.png" class="carIcon" /></td>
                                    b++;
                                    index++;
                                    break;
                                }
                            case 4:
                                {
                                    <td class="occupiedSpace">
                                        <table width="100%" class="innerTable">
                                            <tr>
                                                <td><img src="~/Content/top-down-bike-racing-monsterbraingames.png" class="carIcon" /></td>
                                                <td>
                                                    @if (Model.CheckAdjacentBikes(index) > 1)
                                                    {
                                                        <img src="~/Content/top-down-bike-racing-monsterbraingames.png" class="carIcon" />
                                                    }
                                                    else
                                                    {
                                                        <span>UNOCCUPIED</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (Model.CheckAdjacentBikes(index) > 2)
                                                    {
                                                    <img src="~/Content/top-down-bike-racing-monsterbraingames.png" class="carIcon" />
                                                    }
                                                    else
                                                    {
                                                        <span>UNOCCUPIED</span>
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    break;
                                }

                        }

                    }
                    else
                    {
                        <td class="unoccupiedSpace">UNOCCUPIED</td>
                    }
                    index++;
                    capacity--;
                }
            </tr>

        }

    </table>

}

