@model Garage2._0.Models.AdvancedViewModel
@{
    ViewBag.Title = "Garage Overview";
    int index = 1;
}

<h2>AdvancedView</h2>

<table class="advancedView">
    @for (int row = 1; row <= Model.Rows; row++) {
        <tr>
            @for (int columnNumber = 1; columnNumber <= Model.Columns; columnNumber++) {
                <td class="parkheader">@columnNumber</td>
            }
        </tr>
        <tr>
            @for (int column = 1; column <= Model.Columns; column++) {
                switch (Model.VehicleTypes[index]) {
                    case Garage2._0.Models.VehicleTypes.Car:
                        <td class="occupiedSpace rotated"><img src="~/Content/MichelliRoadster-GTA2.png" class="carIcon" /></td>
                        break;
                    case Garage2._0.Models.VehicleTypes.Van:
                        <td class="occupiedSpace rotated"><img src="~/Content/Van-GTA2.png" class="carIcon" /></td>
                        break;
                    case Garage2._0.Models.VehicleTypes.Truck:
                        <td class="occupiedSpace" colspan="2"><img src="~/Content/BoxTruck-GTA2.png" class="carIcon" /></td>
                        column++;
                        index++;
                        break;
                    case Garage2._0.Models.VehicleTypes.Motorcycle:
                        <td class="occupiedSpace">
                            <table width="100%" class="innerTable">
                                <tr>
                                    <td><img src="~/Content/top-down-bike-racing-monsterbraingames.png" class="carIcon" /></td>
                                    <td>
                                        @if (Model.CheckAdjacentBikes(index) > 1) {
                                            <img src="~/Content/top-down-bike-racing-monsterbraingames.png" class="carIcon" />
                                        } else {
                                            <span>UNOCCUPIED</span>
                                        }
                                    </td>
                                    <td>
                                        @if (Model.CheckAdjacentBikes(index) > 2) {
                                            <img src="~/Content/top-down-bike-racing-monsterbraingames.png" class="carIcon" />
                                        } else {
                                            <span>UNOCCUPIED</span>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                        break;
                    default:
                        <td class="unoccupiedSpace">UNOCCUPIED</td>
                        break;
                }
                index++;
            }
        </tr>
    }
</table>
