body {
    background-image: url('http://efc.web.unc.edu/files/2014/06/ParkingLot.jpg');
    background-size: cover;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    color: blue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Sortable table stylings by Robert H */
table.sortable th {
    cursor: pointer;
}

table.sortable .ordered {
    text-decoration: underline;
}

    table.sortable .ordered.asc::after {
        content: "\25BE";
    }

    table.sortable .ordered.desc::after {
        content: "\25B4";
    }


/* Statistics page stylings by Robert H */
.statistics dt {
    width: 300px;
}
.statistics dd {
    margin-left: 350px;
    margin-bottom: 20px;
}
.statistics dd .key {
    display: inline-block;
    width: 100px;
}
.well {
    background-color: rgba(252, 243, 120, 0.6);
}


/* Advanced Overview CSS -Robert D. */
.parkheader {
    padding:7px;
    width:20%;
}
.rotated{
    transform: rotate(90deg);
}
.advancedView, .innerTable {
    text-align: center;
}
.advancedView {
    color: ghostwhite;
    background-color: #000000de;
    width: 100%;
}

.occupiedSpace, .unoccupiedSpace {
    border-left: 5px solid white;
    border-right: 5px solid white;
    height: 250px;
}
.unoccupiedSpace {
    color: greenyellow;
}
.innerTable {
    color: greenyellow;
}
.carIcon {
    max-height: 250px;
    max-width: 80%;
}
